//===========================================
    // -Buttons start
//===========================================

.btn {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  &[disabled], &.disabled{
    cursor: not-allowed;
  }
}
.scheme-button{
  background-color: $scheme-orange;
  color: white;
  font-weight: 600;
  border: none;
}
//===========================================
    // -Buttons end
//===========================================