//===========================================
    // -Buttons start
//===========================================

.btn {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  &[disabled], &.disabled{
    cursor: not-allowed;
  }
}
.scheme-button{
  background-color: $scheme-orange;
  color: white;
  font-weight: 600;
  border: none;
}
.btn-special {
  border: 2px solid white;
  height: 42px;
  width: 135px;
  text-align: center;
  font-size: 15px;
  background-color: transparent;
  color: $white;
  margin-top: 20px;
}
//===========================================
    // -Buttons end
//===========================================