//=======================================================
// -Global style start
//=======================================================

// Default style start

html,
body {
  font-family: $font-default;
  font-size: 8px;
  @include mq("xs", min) {
    font-size: 10px;
    .container {
      max-width: 396px;
      width: 100%;
      margin: 0 auto;
    }
  }
  @include mq("sm", min) {
    font-size: 10px;
    .container {
      max-width: 576px;
      width: 100%;
      margin: 0 auto;
    }
  }

  
  @include mq("md", min) {
    font-size: 12px;
    .container {
      max-width: 768px;
      width: 100%;
      margin: 0 auto;
    }
  }
  @include mq("lg", min) {
    font-size: 14px;
    .container {
      max-width: 992px;
      width: 100%;
      margin: 0 auto;
    }
  }
  @include mq("xl", min) {
    font-size: 16px;
    .container {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
    }
  }

}


.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.line-width {
  width: rem(62);
  margin: 0 100% 30px 0;
}
.line-scheme{
  margin: 0 auto!important;
	border: 1px solid $scheme-orange;
}
.social-icons {
  font-size: $icon-size;
  color: $text-grey;
}
.active {
  background-color: $scheme-orange !important;
}
.grey-p {
  color: $text-grey!important;
}
.background-grey{
  background-color: #f1f1f1;
}
.side-spacing {
  margin-left: $spacing-margin;
  margin-right: $spacing-margin;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.raleway{
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: rem(36);
  color: #212121;
  line-height: 1;
  text-align: center;
}
.open-sans{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.italic{
  font-style: italic;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.general-heading{
  font-family: "Open Sans",sans-serif;
  font-size: rem(20);
  font-weight: bold;
  color: #000;
  padding-bottom: rem(5);
}
.display-block{
  display: block!important;
  -webkit-animation: slide-down .3s ease-out;
  -moz-animation: slide-down .3s ease-out;
}
.display-none{
  display: none!important;
  -webkit-animation: slide-down .3s ease-out;
  -moz-animation: slide-down .3s ease-out;

}
@include mq("lg", max){
	p{
		font-size: 16px!important;
  }
}
//=======================================================
// -Global style  end
//=======================================================
