//===========================================
	// -Footer start
//===========================================
footer{
	height: 80px;
	background-color: black;
	text-align: center;
	font-size: rem(28);
	padding-top:rem(23);
}
.footer-icons{
	color: white;
	margin: rem(10) rem(15) 0 rem(15) ;
}
//===========================================
	// -Footer end
//===========================================
