//===========================================
// -Variables start
//===========================================

// Colors start
$white: #fff; //white
$black: #000; //black
$mine-shaft: #3a3a3a; // dark gray
$maroon-flush: #d3205a; // Default Brand Color
$text-grey: #86878b;
$scheme-black: #333333;
$scheme-orange: #fe9a50;
$general-padding: 20px 0;
$icon-size: 46px;
// Typography
$font-default: 'Raleway', sans-serif;
$font-primery: 'Open Sans', sans-serif;
$main-heading: 36px;
$container: 90%;
$spacing-margin: 10%;

// Break Pointss
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//===========================================
// -Variables end
//===========================================
